@model PremiumUnit.Models.Invoice

@{
    ViewData["Title"] = "Details";
}

<h3 class='row'>اطلاعات صورت حساب شماره</h3>
<h3 asp-controller="ShowInvoiceDetails" asp-action="Details" asp-route-id="@Model.WorkshopCode" class="full-row-link">@Html.DisplayFor(modelItem => Model.Id, new { htmlAttributes = new { @class = "h3 row" } })

<div class="container mt-5">
    <form>
    <div class="row mb-3">
        <div class="col">
            <div class='row'>:تاریخ صدور</div>
            <div class='row text-center pt-3'>
                @Html.DisplayFor(modelItem => modelItem.IssueDate, new { htmlAttributes = new { @class = "h4" } })
            </div>
        </div>
        <div class="col">
            <div class='row'>:مبلغ</div>
            <div class='row text-center pt-3'>
                @Html.DisplayFor(modelItem => modelItem.Amount, new { htmlAttributes = new { @class = "h4" } })
            </div>
        </div>
        <div class="col">
            <div class='row'>:وضعیت</div>

            @{if (Model.PaymentDate != null )
            {
                <div class="text-center row">
                    <h5 class="text-dark pt-2">‌پرداخت‌شده</h5>
                </div>
            }
            else
            {
                <div class="text-center row">
                    <h5 class='text-danger pt-2'> پرداخت‌نشده</h5>
                </div>
            }}
        </div>
    </div>
    
    <div class="mb-3 justify-content-start p-3">
        <p>این صورت‌حساب به منزله هزینه ثبت کارگاه در سامانه بوده و مدارک ارسال‌شده پس از پرداخت آن بررسی خواهند شد</p>
    </div>

    <div class="d-flex justify-content-between">
        <form asp-controller="ListInvoices" asp-action="Index" asp-route-id="@Model.WorkshopCode">
            <button type="submit" class="btn btn-primary">بازگشت</button>
        </form>
        <form asp-action="Edit" asp-route-id="@Model.WorkshopCode" method="post">
            <button type="submit" class="btn btn-secondary">پرداخت</button>
        </form>
    </div>
    </form>
</div>
